#wrapper {
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  margin: 25vh auto;
  padding: 10px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  
}

body {
  margin: 0;
  padding: 0;
  background-image: url('download\ \(3\).jpeg'); /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}
#quote-div {
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
  margin: 10px auto;
  background-color: #fff;
}